body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
}

header {
    background-color: #73000a;
    color: white;
    text-align: center;
    padding: 1em 0;
}

/* Centered Navigation Bar Styles */
.navbar {
    background-color: #73000a;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
}

.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.section {
    padding: 2em;
    max-width: 1000px;
    margin: auto;
    background-color: #ffffff;
    margin-bottom: 2em;
}

.image-placeholder {
    width: 100%;
    height: 650px;
    background-color: #e0e0e0;
    text-align: center;
    line-height: 200px;
    color: #555;
    margin-top: 1em;
}

button {
    background-color: #73000a;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.pillars-images {
    display: flex; /* This turns the container into a flex container */
    justify-content: center; /* This centers the items horizontally */
    flex-wrap: wrap; /* This allows items to wrap to the next line */
    gap: 10px; /* This adds some space between the images */
}

.pillar-image {
    flex: 0 0 auto; /* This prevents the images from growing or shrinking */
    width: auto; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
}

.pillar-title {
    font-size: 1.5em; /* Adjust the size as needed */
    display: block; /* Makes the subtitle a block-level element */
    margin-bottom: 10px; /* Adds some space between the title and images */
}


